
body {
  background-color: black;
  color: white;
}

.bp_TitleBar {
  background-color: transparent;
  position: absolute;
  height: 32px;
  z-index: 10;
  width: 100%;
}

.mx_MatrixChat>:not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_wrapper):not(.bp_LeftPanel) {
  margin-top: 32px;
  height: calc(100% - 32px) !important;
  background-color: black;
}


/* Left Panel */

.bp_LeftPanel {
  margin-left: 48px;
}

.bp_LeftPanel .rooms .rooms_scroll-container {
  margin-right: 0;
}


/* Space Bar */

.bp_LeftPanel .spaceBar {
  padding: 32px 0 0 0;
  margin-bottom: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  background: #262626;
  height: 100% !important;
  width: 48px;
  padding-top: 36px;
}

.bp_LeftPanel .spaceBar .grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 48px;
  grid-template-rows: repeat(auto-fill,40px);
  position: relative;
  top: 0;
  height: calc(100% - 40px);
  width: 48px;
}

.bp_LeftPanel .spaceBar .grid .bp_ProtocolsToggle {
  display: none;
  grid-row-start: auto;
  grid-column-end: auto;
}

.bp_LeftPanel .spaceBar .grid .plus {
  width: 48px;
  height: auto;
  margin: 0 0 8px 0;
  grid-row-start: auto;
  grid-row-end: -1;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem.active, .bp_LeftPanel .spaceBar .bp_SpaceBarItem.active:hover {
  background-color: transparent;
  border-left: 4px solid #c30052;
  padding-left: 0;
  width: 40px;
  border-right: 4px solid transparent;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem {
  border-radius: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_SpaceBarItem_badge {
  background-color: #c30052;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_Avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}


/* Header and Search Bar */

.bp_Header {
  margin-top: 32px;
  height: 48px;
  margin-bottom: -48px;
}

.bp_LeftPanel .searchBar {
  padding: 0 112px 0 16px;
}

.bp_CommandBarSearch {
  border-radius: 4px; 
  background: #262626;
  /* border: 1px solid #767676; */
}

.bp_CommandBarSearch .bp_CommandBarSearch_overlay.bp_CommandBarSearch_overlay--prefix {
  left: 12px;
}

.bp_CommandBarSearch input {
  width: 64px;
}

.bp_CommandBarSearch_shortcutHint {
  display: none;
}


/* Favorites */

.bp_LeftPanel .rooms .favourites {
  padding: 0 4px;
  /* margin-left: 4px; */
}

.bp_LeftPanel .rooms .favourites__tiles {
  gap: 32px;
  padding: 24px 20px;
  justify-content: center;
}

.bp_LeftPanel .rooms .favourites__icons {
  grid-template-columns: auto;
  margin-right: 0;
}

.bp_LeftPanel .rooms .favourites_avatar {
  height: 64px;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .avatar .mx_BaseAvatar_initial {
  width: 64px!important;
  line-height: 64px!important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .mx_BaseAvatar_image {
  width: 64px!important;
  height: 64px!important;
}

.bp_LeftPanel .rooms .favourites .mx_BaseAvatar_image {
  width: 64px!important;
  height: 64px!important;
}

.bp_LeftPanel .rooms .favourites_avatar--unread .mx_BaseAvatar {
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 0%), 0 0 0 3px #c30052;
}


/* Avatars */

.bp_Avatar_bg_1, .bp_Avatar_bg_2, .bp_Avatar_bg_3 {
  background: linear-gradient(160deg,#404040 3%,#25262d 128.02%)
}

.mx_BaseAvatar_initial {
  color: white;
  mix-blend-mode: color-dodge;
  margin-top: -2px;
}


/* Contact List */

.bp_LeftPanel, .bp_LeftPanel .rooms_subtitle-container, .bp_RoomTile .actions-container .info {
  background-color: #161616;
}

.bp_LeftPanel .rooms_subtitle-container {
  min-height: 24px !important;
}

.bp_RoomTile {
  height: 72px;
  margin: 1px 0
}

.bp_RoomTile:not(.small) {
  padding: 0;
}

.bp_RoomTile:not(.small) .outline {
  border-radius: 0;
  padding: 8px 4px 8px 4px;
}

.bp_RoomTile:not(.small):hover:not(.active) .outline {
  background-color: #363636;
}

.bp_RoomTile .name {
  padding: 2px 2px 4px 0;
}

.bp_RoomTile .preview {
  font-weight: normal;
  letter-spacing: 0;
}

.bp_RoomTile .preview>span {
  color: #767676;
}

.bp_RoomTile:not(.small) .indicator.unread {
  -webkit-mask-image: none;
  mask-image: none;
  background-color: #c30052;
  margin-left: -10px !important;
}

.bp_RoomTile.isUnread .preview>span {
  font-weight: 500;
  color: #f783b2;
}

.bp_RoomTile .actions-container {
  margin-right: -30px;
}

.bp_RoomTile .actions-container .info {
  height: 72px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex-direction: column-reverse;
}

.bp_RoomTile .timestamp {
  font-weight: 300;
  padding-bottom: 8px;
}

.bp_RoomTile .details .row>* {
  line-height: 1.25;
}

.bp_RoomTile:not(.small).active .outline, .bp_RoomTile:not(.small).active .outline.electronTransparency, .bp_RoomTile:not(.small).active .row.info {
  background-color: #363636;
}

.bp_RoomTile:not(.small):hover:not(.active) .outline .mask, .bp_RoomTile:not(.small).active .outline .mask {
  background: linear-gradient(90deg,transparent 50%,#363636 90%);
}

.bp_RoomTile:not(.small):hover:not(.active) .row.info {
  background: #363636;
}

.bp_RoomTile .tile_actions-button, .bp_RoomTile .tile_actions .bp_Button2 {
  border-radius: 0;
}

.bp_RoomTile .tile_actions-button:hover {
  background-color: #363636;
}

.bp_LeftPanel .rooms .unread_hint {
  padding: 32px 48px;
  color: #767676
}


/* Room Header */

.mx_RoomHeader {
  background-color: black;
}

.mx_RoomHeader_wrapper {
  padding: 8px 16px 12px;
}

.mx_DecoratedRoomAvatar {
  margin: 0;
  padding: 0;
}

.mx_RoomHeader_name {
  color: white;
  font-size: 2.5rem;
  line-height: 1.25;
  border-radius: 0;
  padding: 1px 12px 4px 0;
}

.mx_DateSeparator>div {
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: .75px;
}
.mx_RoomView_dateSeparator_container .mx_DateSeparator>div {
  background: none;
}


/* Messages */

.mx_EventTile_message .mx_EventTile_line, .mx_EventTile_sticker .mx_EventTile_line, .mx_EventTile_messageOut .mx_EventTile_line {
  padding: 6px 10px;
}

.mx_EventTile_message, .mx_EventTile_sticker {
  margin-bottom: 8px;
}

.mx_EventTile_messageIn .mx_EventTile_line {
  background: #363636;
  color: white;
}

.mx_EventTile_messageOut .mx_EventTile_line {
  background: linear-gradient(145deg,#c30052 3%,#6b008f 97%);
  color: white;
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_line::before {
  content: "◢";
  position: absolute;
  bottom: -1px;
  left: -9px;
  color: #363636;
  line-height: 1;
}

.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_line::after {
  content: "◣";
  position: absolute;
  bottom: -1px;
  right: -9px;
  color: #6b008f;
  text-align: right;
  line-height: 1;
}

.mx_EventTile_emoji .mx_EventTile_line::before, .mx_EventTile_file .mx_EventTile_line::before, .mx_EventTile_sticker .mx_EventTile_line::before, .mx_EventTile_emoji .mx_EventTile_line::after, .mx_EventTile_file .mx_EventTile_line::after, .mx_EventTile_sticker .mx_EventTile_line::after {
  content: " " !important;
}

.mx_EmojiPicker, .bp_LinkPreview, .mx_ContextualMenu, .mx_RightPanel, .mx_MImageBody_thumbnail,
.mx_EventTile_message.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_sticker.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_message.mx_EventTile_messageOut .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_sticker.mx_EventTile_messageOut .mx_MessageBody .mx_EventTile_line {
  border-radius: 4px;
}

.mx_EventTile_message.mx_EventTile_firstInGroup .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_firstInGroup .mx_EventTile_line {
  border-top-left-radius: 4px!important;
  border-top-right-radius: 4px!important;
}

.mx_EventTile_message.mx_EventTile_last .mx_EventTile_line, .mx_EventTile_message.mx_EventTile_lastInGroup .mx_EventTile_line, .mx_EventTile_message.mx_EventTile_lastInSection .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_last .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_lastInGroup .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_lastInSection .mx_EventTile_line {
  border-bottom-left-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_line {
  border-bottom-left-radius: 0!important;
}
.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_line {
  border-bottom-right-radius: 0!important;
}

.mx_EventTile_message .mx_MessageTimestamp,
.mx_EventTile_sticker .mx_MessageTimestamp {
  font-size: 10px;
  font-weight: 300;
}

.mx_EventTile_messageIn .mx_SenderInfo_wrapper {
  margin-bottom: 6px;
}

.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_avatar {
  margin-right: 8px;
}

.mx_EventTile_messageIn.mx_EventTile_dm .mx_MessageBody {
  grid-template-columns: 0 minmax(auto,max-content) minmax(35%,auto);
}

.mx_EventTile_messageOut .mx_MessageBody {
  grid-template-columns: fit-content(24px) minmax(auto,max-content) minmax(25%,auto);
}

.mx_EventTile_messageIn .mx_MessageBody {
  grid-template-columns: 36px minmax(auto,max-content) minmax(25%,auto);
}

.mx_EventTile_message .mx_EventTile_line :not(.mx_MImageBody,.mx_MVideoBody) {
  max-width: none;
}

.mx_GroupLayout .mx_EventTile .mx_EventTile_line, .mx_GroupLayout .mx_EventTile .mx_EventTile_reply {
  line-height: 2.1rem;
}

.mx_EventTile_message .mx_EventTile_line, .mx_EventTile_sticker .mx_EventTile_line, .mx_EventTile_messageOut .mx_EventTile_line {
  padding: 6px 12px 8px;
}

.mx_ReplyChain_wrapper .mx_ReplyChain:last-child {
  margin-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mx_ReplyChain_wrapper .mx_ReplyChain:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 4px;
}

li.mx_RoomView_myReadMarker_container {
  height: auto;
  justify-content: center;
  flex-direction: column;
}

hr.mx_RoomView_myReadMarker {
  border: 1px solid #c30052;
  border-bottom: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  top: 0;
}

.mx_RoomView_myReadMarker_newLabel {
  color: #c30052;
  height: 24px;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: .75px;
  margin-bottom: 8px;
}

.mx_MessageComposer_wrapper {
  background: #262626;
  border: .5px solid #737373;
  border-radius: 4px;
}

.mx_SendMessageComposer .mx_BasicMessageComposer .mx_BasicMessageComposer_input>* {
  line-height: 2.1rem;
  margin-top: 1rem;
}

.mx_SendMessageComposer .mx_BasicMessageComposer .mx_BasicMessageComposer_input>:first-child {
  line-height: 2.1rem;
  margin-top: 0;
}

.mx_MessageComposer_send {
  background: linear-gradient(160deg,#ff3388 3%,#c30052 128.02%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mx_EmojiPicker_category_label, .mx_EmojiPicker_preview_name {
  font-size: 1.15rem;
  font-weight: 600;
  margin: 8px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
}

.mx_HomePage_default .mx_HomePage_default_buttons .mx_AccessibleButton {
  background: linear-gradient(160deg,#c30052 3%,#6b008f 128.02%);
}

.mx_JumpToBottomButton_unread .mx_JumpToBottomButton_scrollDown {
  background: #c30052;
  border-radius: 4px;
}

.bp_WhoIsTypingTile {
  height: 24px;
}


/* Panel and Dialogs */

.dark-panel {
  background-color: #262626;
}

.mx_ContextualMenu {
  background-color: #161616;
  color: white;
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton {
  font-size: 1.3rem;
}

.mx_IconizedContextMenu.mx_IconizedContextMenu_compact .mx_IconizedContextMenu_optionList>* {
  padding: 6px 16px 6px 11px;
}

.mx_Dialog {
  background-color: #262626;
  border-radius: 4px;
}

.rc-dialog-wrap {
  background-color: rgba(0,0,0,.66);
}

.commandbar-animation.commandbar-opened {
  background-color: #262626 !important;
}

.commandbar-ek2juz {
  background: #c30052
}


/* Settings */

.mx_Dialog_wrapper {
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  align-items: normal;
  justify-content: space-around;
}

/* .mx_Dialog,  */
.mx_ChatNetworks_Dialog {
  width: 100%;
  height: 100%;
}

.mx_Dialog_title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.mx_TabbedView {
  padding: 0;
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_tabLabel_active {
  background-color: transparent;
  border-left: 4px solid #c30052;
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_maskedIcon {
  margin-left: 16px;
}

.mx_TabbedView_tabLabel {
  border-radius: 4px;  
  border-left: 4px solid transparent;
  margin-bottom: 4px;
  border-radius: 0;
}

.mx_SettingsTab_heading {
  font-size: 3rem;
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_tabLabels {
  width: 220px;
  max-width: 220px;
}

.ChatNetworksDialog-leftbar .tabbar .tab .name {
  font-weight: normal;
  font-size: 14px;
}

.ChatNetworksDialog-content .panel-title {
  font-weight: 600;
}

.ChatNetworksDialog-leftbar .tabbar .tab.selected, .ChatNetworksDialog-leftbar .tabbar .tab.selected:hover {
  background: #c30052;
}

.mx_ToggleSwitch.mx_ToggleSwitch_on {
  background-color: #c30052;
}

.mx_AccessibleButton_kind_link {
  color: #c30052;
}

.mx_AccessibleButton_hasKind:not(.mx_AccessibleButton_kind_link):not(.mx_AccessibleButton_kind_link_inline):not(.mx_MatrixChat_splashButtons), .mx_Dialog_buttons button, .mx_Dialog_buttons input[type=submit], .mx_Dialog button, .mx_Dialog input[type=submit] {
  border-radius: 4px;
}

.mx_ToggleSwitch {
  width: 4rem;
  height: 1.5rem;
}

.mx_ToggleSwitch.mx_ToggleSwitch_on>.mx_ToggleSwitch_ball {
  left: calc(100% - 1.4rem);
}

.mx_ToggleSwitch_ball {
  width: 1.25rem;
  height: 1.25rem;
  left: .25rem;
}

.mx_SettingsTab_section .mx_SettingsFlag {
  margin-right: 80px;
  margin-bottom: 12px;
}

